body{
  background: cyan;
}
.header {
  background:linear-gradient(159deg, white, black);
  display: flex;
  padding: 10px;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  left: 0;
  
}

.header p{
  border: 2px solid;
  border-radius: 35px;
}
.searchSection{
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  
}
.searchSection button{
  background-color: lightblue;
  border-radius: 50px;
  
}
.searchSection input{
  border-radius: 50px;
}
.homeLogInBtn{
  background-color: green;
  position:absolute;
  right:20px;
  border-radius: 50px;
  padding: 1px;
}
.serviceMenu{
  display: grid;

}
.serviceRow{
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
.seviceCard{
  display: grid;
  background-color: lightblue;
  padding: 20px;

}
.seviceCard button{
  background-color: blue;
  border-radius: 20px;
  padding: 5px;
  color:white;
  width:200px;
}
.serviceDescription{
  font-size: 20px;
}
.bodyWrapper{
  background-color: lightblue;
  width:100%;
}
footer{
  text-align: center;
  background-color: grey;
}
.forTheCompany{
  display: grid;
  padding-left: 5px;
}
.forTheCustomers{
  display: grid;
}
.companyStuff{
  display: flex;
  gap:10px;
}
.companyStuff a{
  color:black;
}
.registerAJob{
  width:40%;
  background:linear-gradient(159deg, white, black);
  color:white;
  height: 60px; 
  border-radius: 50px;
  font-size: 20px;
}
.seviceCard img{
  border-radius: 50px;
}
.goBackBtn,#signUp,#signIn{
  width:100px;
  background:linear-gradient(159deg, white, black);
  color:white;
  height: 30px; 
  border-radius: 50px;
  font-size: 20px;
}
.wholeLogin{
  background: white;
  border-radius: 50px;
  height: 550px;
  width: 400px;
  text-align: center;
  margin-top: 50px;
  padding-top: 10px;
}
#usernameField,#passwordField{
  border-radius: 50px;
}
.logInInputArea{
  display: grid;
  gap: 0.5px;
  justify-content: center;
}
#signIn{
  width: 270px;
  color: black;
  background: linear-gradient(159deg, cyan, black);
}
#signUp{
  color: black;
  background: white;
}
.contactFormBody{
  display: grid;
}
.names{
  display: flex;
  gap: 4px;
}
.firstName,.lastName,.fixerEmail,.fixerPhone,.reason,.problem{
  display: grid;
}
textarea{
  height: 100px;
}

    
